:root {
  --primary-color: #36cdca;
  --secondary-color: #f6bc47;
  --secondary-color-shadow:#CE8E14;
  --light-grey: #B6CAD3;
  --light-grey-shadow: #7D9AA7;
  --medium-grey: #284551;
  --medium-grey-shadow: #132C36;
  --dark-grey: #203741;

  background-color: var(--dark-grey);
  color: var(--light-grey)

}

#root {
  background-color: var(--dark-grey);
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  color: var(--primary-color);
}

.navbar {
  justify-content: center;
}

button{
  margin: 5px;
  border-radius: var(--rounded-btn, 0.5rem);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: start;
}

.darkgrey-btn, .card{
  background-color: var(--medium-grey);
  box-shadow: 0px 5px 0px var(--medium-grey-shadow);
}

.lightgrey-btn, .card{
  background-color: var(--light-grey);
  box-shadow: 0px 5px 0px var(--light-grey-shadow);
  color: var(--dark-grey);
}

.yellow-btn {
  background-color: var(--secondary-color);
  box-shadow: 0px 5px 0px var(--secondary-color-shadow);
  color: var(--dark-grey);
  font-weight: 600;
}

.navbar-center {
  margin: 0px 50px;
}

.logo {
  width: 200px;
}

.card {
  padding: 2em;
}

